html, body{width:100%;height:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;font-size:20px;}
body{font-family:'Montserrat', "Myriad Pro", Helvetica, Georgia, sans-serif;top:0;bottom:0;left:0;right:0;height:100%;margin:0;padding:0px;background:#47b8e0;background:-moz-linear-gradient(45deg, #47b8e0 0%, #0d1c23 100%);background:-webkit-gradient(linear, left bottom, right top, color-stop(0%,#47b8e0), color-stop(100%,#0d1c23));background:-webkit-linear-gradient(45deg, #47b8e0 0%,#0d1c23 100%);background:-o-linear-gradient(45deg, #47b8e0 0%,#0d1c23 100%);background:-ms-linear-gradient(45deg, #47b8e0 0%,#0d1c23 100%);background:linear-gradient(45deg, #47b8e0 0%,#0d1c23 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#47b8e0', endColorstr='#0d1c23',GradientType=1);}
ul, li{list-style:none;}
img{max-width:100%;height:auto;}
#disqus_thread{width:85%;margin:0 auto;}
.wrapper{position:relative;float:left;left:22.5%;width:55.00%;margin-top:30px;font-size:11px;line-height:16px;}
#nav{position:fixed;z-index:9999;padding:.2em 0;top:0px;width:100%;}
.padding40{padding:40px 0;}
.minplayer-default{position:relative;font-family:"Trebuchet MS", Helvetica, sans-serif;-moz-box-shadow:0px 5px 10px #333;-webkit-box-shadow:0px 5px 10px #333;}
.player-ui .minplayer-default-error{display:none;color:#eee;position:absolute;top:80%;left:50%;width:320px;height:40px;line-height:40px;margin:-20px 0 0 -160px;text-align:center;vertical-align:middle;border:none;z-index:200;opacity:0.9;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;background:rgba(23, 35, 34, 0.9);box-shadow:2px 2px 4px #000;-webkit-box-shadow:2px 2px 4px #000;-moz-box-shadow:2px 2px 4px #000;}
.player-ui.controller-only .minplayer-default-error{display:none !important;}
.player-ui .minplayer-default-display{width:100%;height:100%;border:none;}
.player-ui .minplayer-default-display video{width:100%;height:100%;}
.player-ui .minplayer-default-preview{width:100%;height:100%;position:absolute;z-index:1;border:none;}
.player-ui .minplayer-default-preview.no-image{background:transparent;}
.player-ui .minplayer-default-loader-wrapper{width:100%;height:100%;position:absolute;z-index:2;background:rgb(0, 0, 0);background:rgba(0, 0, 0, 0.3);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#55000000, endColorstr=#55000000);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#55000000, endColorstr=#55000000)";}
.player-ui.controller-only .minplayer-default-loader-wrapper{display:none !important;}
.player-ui.nomedia .minplayer-default-controls, .player-ui.nomedia .minplayer-default-big-play, .player-ui.nomedia .minplayer-default-loader{display:none;}
.player-ui .minplayer-default-loader{width:42px;height:10px;position:absolute;z-index:4;top:50%;left:50%;margin:-5px 0 0 -21px;text-align:center;vertical-align:middle;background:url(images/loader.gif) no-repeat;}
.player-ui .minplayer-default-big-play{position:absolute;top:50%;left:50%;width:80px;height:80px;margin:-40px 0 0 -40px;text-align:center;vertical-align:middle;cursor:pointer !important;border:none;opacity:0.9;z-index:3;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;background:rgba(23, 35, 34, 0.746094);box-shadow:2px 2px 4px #000;-webkit-box-shadow:2px 2px 4px #000;-moz-box-shadow:2px 2px 4px #000;}
.player-ui .minplayer-default-big-play span{display:block;font-size:0;line-height:0;width:0;height:0;margin:20px 0 0 23px;border-left:40px solid white;border-top:20px solid transparent;border-bottom:20px solid transparent;}
.player-ui .minplayer-default.fullscreen, .player-ui .minplayer-default.fullscreen .minplayer-default-display, .player-ui .minplayer-default.fullscreen .minplayer-default-loader-wrapper{position:fixed;left:0;top:0;right:0;bottom:0;overflow:hidden;z-index:1000;width:100% !important;height:100% !important;}
.player-ui .minplayer-default.fullscreen .minplayer-default-play-loader{z-index:1001;}
.player-ui.controller-only .minplayer-default-play-loader{display:none !important;}
.player-ui .minplayer-default-controls{position:absolute;display:block;z-index:3;bottom:0px;left:0px;right:0px;height:30px;line-height:18px;}
.player-ui .minplayer-default.fullscreen .minplayer-default-controls{height:auto;}
.player-ui.controller-only{height:32px !important;}
.player-ui .minplayer-default-controls-left{float:left;width:29px;margin:3px;border-right:1px solid #888;}
.player-ui .minplayer-default.fullscreen .minplayer-default-controls-left{width:40px;border:none;}
.player-ui .minplayer-default-controls-right{float:right;width:120px;margin:3px;}
.player-ui .minplayer-controls-volume-horizontal .minplayer-default-controls-right{width:200px;}
.player-ui .minplayer-default.fullscreen .minplayer-default-controls-right{width:110px;}
.player-ui .minplayer-default-controls-mid{position:absolute;left:40px;right:130px;height:30px;margin:3px;}
.player-ui .minplayer-controls-volume-horizontal .minplayer-default-controls-mid{right:210px;}
.player-ui .minplayer-default.fullscreen .minplayer-default-controls-mid{left:50px;}
.player-ui .minplayer-default-play, .minplayer-default-volume, .player-ui .minplayer-default-timer, .player-ui .minplayer-default-mute, .player-ui .minplayer-default-unmute{float:left;}
.player-ui .minplayer-default-play, .minplayer-default-fullscreen, .minplayer-default-mute, .minplayer-default-unmute{cursor:pointer;}
.player-ui .minplayer-default-timer{cursor:default;}
.player-ui .minplayer-default-button{display:block;width:24px;height:24px;opacity:0.7;-moz-transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
.player-ui .minplayer-default-button:hover{opacity:1;}
.player-ui .minplayer-default-button span{margin:4px 0 0 4px;margin-top:3px;}
.player-ui .minplayer-default-button span.ui-icon-pause{margin-left:3px;}
.player-ui .minplayer-default-pause{display:none;}
.player-ui .minplayer-default-seek{position:relative;height:10px;margin-top:7px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;background:#535353;background-image:-moz-linear-gradient(top, #535353, #333333);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #535353),color-stop(1, #333333));box-shadow:inset 0 -3px 3px #333333;}
.player-ui .minplayer-default-seek .ui-slider-handle{position:absolute;width:16px;height:16px;border:1px solid #333;z-index:20;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;background:#e6e6e6;background-image:-moz-linear-gradient(top, #e6e6e6, #d5d5d5);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #e6e6e6),color-stop(1, #d5d5d5));box-shadow:inset 0 -3px 3px #d5d5d5;}
.player-ui .minplayer-default-seek .ui-slider-handle.ui-state-hover{background:#fff;}
.player-ui .minplayer-default-seek .ui-slider-range{position:absolute;height:10px;top:-1px;-moz-border-radius:15px;-webkit-border-radius:15px;z-index:10;border-radius:15px;}
.player-ui .minplayer-default-progress{position:absolute;width:0px;height:10px;-moz-border-radius:15px;-webkit-border-radius:15px;z-index:8;border-radius:15px;border:0 !important;}
.player-ui .minplayer-default-timer{position:relative;height:22px;float:left;padding-right:6px;margin-top:4px;font-size:16px;font-weight:bold;border-right:1px solid #888;}
.player-ui .minplayer-default.fullscreen .minplayer-default-timer{border:none;}
.player-ui .minplayer-default-volume{height:26px;-moz-transition:all 0.1s ease-in-out;-webkit-transition:all 0.1s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.1s ease-in-out;}
.player-ui .minplayer-controls-volume-vertical .minplayer-default-volume{position:absolute;right:38px;bottom:1px;overflow:hidden;width:26px;}
.player-ui .minplayer-controls-volume-horizontal .minplayer-default-volume{position:relative;width:126px;margin-left:5px;}
.player-ui .minplayer-default.fullscreen .minplayer-default-volume{right:44px;bottom:12px;}
.player-ui .minplayer-controls-volume-vertical .minplayer-default-volume:hover{height:133px;height:130px;}
.player-ui .minplayer-controls-volume-vertical .minplayer-default-volume:hover .minplayer-default-volume-slider{position:relative;display:block;visibility:visible;opacity:1;}
.player-ui .minplayer-default-volume-slider{position:relative;border:1px solid #444;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;-moz-transition:all 0.1s ease-in-out;-webkit-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out;}
.player-ui .minplayer-controls-volume-vertical .minplayer-default-volume-slider{height:100px;width:7px;left:8px;visiblity:hidden;display:none;opacity:0;}
.player-ui.controller-only .minplayer-controls-volume-horizontal .minplayer-default-volume-slider{height:7px;width:105px;top:8px;left:32px !important;}
.player-ui .minplayer-controls-volume-horizontal .minplayer-default-volume-slider{height:7px;width:78px;top:8px;left:32px;}
.player-ui .minplayer-default-volume-slider .ui-slider-handle{position:absolute;z-index:20;width:12px;height:12px;border:1px solid #333;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;background:#e6e6e6;background-image:-moz-linear-gradient(top, #e6e6e6, #d5d5d5);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #e6e6e6),color-stop(1, #d5d5d5));box-shadow:inset 0 3px 3px #d5d5d5;}
.player-ui .minplayer-controls-volume-horizontal .minplayer-default-volume-slider .ui-slider-handle{margin-top:1px;}
.player-ui .minplayer-controls-volume-vertical .minplayer-default-volume-slider .ui-slider-handle{left:-4px;margin-bottom:-0.6em;margin-left:0;}
.player-ui .minplayer-default-volume-slider .ui-slider-handle.ui-state-hover{background:#fff;}
.player-ui .minplayer-default-volume-slider .ui-slider-range{position:absolute;bottom:0;left:0;width:100%;z-index:1;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;}
.player-ui .minplayer-default-volume-mute, .player-ui .minplayer-default-volume-unmute{position:absolute;bottom:0px;}
.player-ui .minplayer-default-volume-unmute{display:none;}
.player-ui.controller-only .minplayer-default-fullscreen{display:none !important;}
.player-ui .minplayer-default-fullscreen{position:absolute;right:6px;bottom:7px;width:22px;height:14px;}
.player-ui .minplayer-default.fullscreen .minplayer-default-fullscreen{right:14px;bottom:16px;}
.player-ui .minplayer-default-fullscreen-inner, .player-ui .minplayer-default.fullscreen .minplayer-default-fullscreen:hover .minplayer-default-fullscreen-inner{position:absolute;bottom:0;width:16px;height:8px;-moz-transition:all 0.1s ease-in-out;-webkit-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out;}
.player-ui .minplayer-default-fullscreen:hover .minplayer-default-fullscreen-inner, .player-ui .minplayer-default.fullscreen .minplayer-default-fullscreen-inner{width:20px;height:12px;}
.player-ui .minplayer-default.fullscreen .minplayer-default-controls{position:absolute;z-index:1002;width:500px;left:50%;bottom:10px;margin:0 0 0 -260px;padding:10px;border:1px solid #2E2E2E;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-transition:all 0.1s ease-in-out;-webkit-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out;}
.player-ui .minplayer-default-logo{z-index:200;line-height:0px;position:absolute;bottom:3px;left:3px;}
.player-ui.controller-only .minplayer-default-logo{display:none !important;}
.player-ui .minplayer-default.fullscreen .minplayer-default-logo{z-index:1002;}
.with-controller .minplayer-default-logo{bottom:34px;}
.player-ui .ui-slider-horizontal .ui-slider-handle{top:-4px;margin-left:-5px;}
.osmplayer-default{position:relative;width:100%;height:100%;overflow:hidden;font-family:"Trebuchet MS", Helvetica, sans-serif;-moz-box-shadow:0px 5px 10px #333;-webkit-box-shadow:0px 5px 10px #333;}
.player-ui.controller-only.osmplayer-default{overflow:inherit;}
.minplayer-default{position:absolute;top:0px;right:0px;bottom:0px;left:0px;}
.player-ui .osmplayer-default-playlist{position:absolute;width:160px;top:0px;bottom:0px;right:0px;}
.player-ui .osmplayer-default-playlist.playlist-only{width:100%;height:100%;}
.player-ui .playlist-horizontal{width:100%;height:160px;top:inherit;bottom:0px;left:0px;right:0px;}
.player-ui .osmplayer-default-hide-show-playlist{position:absolute;z-index:3;top:50%;left:-16px;width:16px;height:40px;margin:-20px 0 0 0;text-align:center;vertical-align:middle;opacity:0.5;}
.player-ui .playlist-horizontal .osmplayer-default-hide-show-playlist{top:inherit;left:50%;bottom:191px;width:40px;height:16px;margin:0 0 0 -20px;}
.player-ui .osmplayer-default-hide-show-playlist span{position:absolute;top:50%;margin-top:-8px;}
.player-ui .playlist-horizontal .osmplayer-default-hide-show-playlist span{top:inherit;left:50%;margin-top:0px;margin-left:-8px;}
.player-ui .osmplayer-default-playlist-scroll{position:absolute;overflow:hidden;top:0px;right:0px;left:0px;bottom:32px;}
.player-ui .playlist-horizontal .osmplayer-default-playlist-scroll{bottom:30px;}
.player-ui .osmplayer-default-playlist-scrollbar{position:absolute;width:10px;height:100%;bottom:0px;right:0px;z-index:20;-moz-border-radius:0px;-webkit-border-radius:0px;border-radius:0px;}
.player-ui .playlist-vertical .osmplayer-default-playlist-scrollbar{top:0px;}
.player-ui .playlist-horizontal .osmplayer-default-playlist-scrollbar{width:100%;height:10px;bottom:0px;}
.player-ui .osmplayer-default-playlist-scrollbar .ui-slider-handle{width:8px;height:15px;border:1px solid #333;right:0;left:0;margin:0;z-index:20;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;background:#e6e6e6;background-image:-moz-linear-gradient(top, #e6e6e6, #d5d5d5);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #e6e6e6),color-stop(1, #d5d5d5));box-shadow:inset 0 -3px 3px #d5d5d5;}
.player-ui .playlist-horizontal .osmplayer-default-playlist-scrollbar .ui-slider-handle{width:15px;height:8px;top:0px;bottom:0px;right:inherit;left:inherit;}
.player-ui .osmplayer-default-playlist-scrollbar .ui-slider-handle.ui-state-hover{background:#fff;}
.player-ui .osmplayer-default-playlist-list{margin:2px 2px 2px 2px;}
.player-ui .playlist-horizontal .osmplayer-default-playlist-list{position:absolute;margin:1px 2px 1px 2px;top:0px;bottom:0px;}
.player-ui .osmplayer-default-teaser{margin:1px 0 1px 0;cursor:pointer;padding:0;}
.player-ui .playlist-horizontal .osmplayer-default-teaser{width:160px;height:100%;float:left;}
.player-ui .osmplayer-default-teaser-image{width:100%;height:80px;margin:auto;}
.player-ui .osmplayer-default-teaser-info{z-index:20;font-size:12px;margin-top:2px;padding:4px;}
.player-ui .osmplayer-default-playlist-pager{position:absolute;display:block;z-index:3;bottom:0px;left:0px;right:0px;height:30px;}
.player-ui .osmplayer-default-playlist-pager-link{float:left;}
.player-ui .osmplayer-default-playlist-pager-left{float:left;margin:3px;}
.player-ui .osmplayer-default-playlist-pager-right{float:right;margin:3px;}
.mobile-only{display:none;}
.cbp-spmenu{background:rgba(255,255,255, 0.95);position:fixed;text-align:center;z-index:12;font-family:'Montserrat', "Myriad Pro", Helvetica, Georgia, sans-serif;}
#search{width:100%;display:block;position:relative;overflow:hidden;margin:1% auto;}
.responsive{padding:3% 0;font-size:5em;display:block;float:left;background-color:transparent;border:none;outline:none;color:#ff7473;}
.article_search{width:90%;margin:5% auto 3% auto;display:block;text-align:left;}
.article_search h2{font-size:4em;margin-bottom:0.5em;}
.search_left{width:40%;float:left;text-align:left;padding:0 5%;margin-bottom:10%;}
.search_right{width:40%;float:left;text-align:left;padding:0 5%;margin-bottom:10%;}
.separator{margin-bottom:10%;display:block;}
.cbp-spmenu a{display:block;color:#bbb;font-size:0.7em;line-height:2.2em;padding-left:2%;}
.search_close{background: #5b4e60;padding: 10%;font-size: 0.7em;text-align: center;}
@media only screen and (max-width:769px){.article_search h2{font-size:2em;}
.responsive{font-size:2em;}
.search_right{float:none;width:90%;}
.search_left{float:none;width:90%;}
}
.cbp-spmenu-vertical{width:100%;height:100%;top:0;z-index:1000;}
.cbp-spmenu-right{right:-100%;}
.open{}
.cbp-spmenu-right.cbp-spmenu-open{right:0px;overflow-y:scroll;position:fixed;}
.cbp-spmenu-push{overflow-x:hidden;position:relative;left:0;}
t
.cbp-spmenu,
.cbp-spmenu-push{-webkit-transition:right 0.3s ease;-moz-transition:right 0.3s ease;transition:right 0.3s ease;}
.nav-index-sticky{position:fixed;z-index:9998;background-color:rgba(0, 0, 0, 0.71);padding:.2em 0;top:0px;width:100%;height:52px;}
.sticky{position:fixed}
.group-logo{float:left;margin-left:2%;}
#newsletterform{font-family:'Montserrat', "Myriad Pro", Helvetica, Georgia, sans-serif;margin:0 auto;max-width:780px;min-width:320px;display:block;text-align:left;letter-spacing:1px;position:relative;margin-top:3%;height:auto;}
#newsletterform .wrap{padding:30px;height:300px;}
#newsletterform h3{font-family:'Montserrat', "Myriad Pro", Helvetica, Georgia, sans-serif;display:block;width:100%;font-size:26px;font-weight:400;line-height:1.5em;color:#fff;text-align:left;padding-bottom:2px;}
#newsletterform p{font-size:0.9em;line-height:1.5em;margin-bottom:25px;color:#fff;}
#newsletterform input{font-family:'Montserrat', "Myriad Pro", Helvetica, Georgia, sans-serif;font-size:16px;float:left;font-weight:500;display:block;width:55%;background:#fff;color:#5b4e60;padding:15px;text-align:left;margin:0 auto 12px auto;border:2px solid #fff;outline:0;border-radius:0px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
#newsletterform input:focus{border:2px solid #fff;}
#newsletterform input[type="submit"]{background:#F8CA4D;color:#5b4e60;width:30%;padding:15px;cursor:pointer;margin-bottom:0;text-align:center;}
#newsletterform input[type="submit"]:hover{opacity:0.7;cursor:pointer;}
#newsletterform .arrow{display:inline-block;background:url("../images/arrow.png") no-repeat;width:139px;height:48px;position:absolute;left:120px;top:170px;}
#newsletterform #response{color:#fff;font-size:1.2em;height:auto;margin:0 auto;padding-top:10px;text-align:left;overflow:hidden;width:100%;}
#newsletterform #response p{font-family:'Montserrat', "Myriad Pro", Helvetica, Georgia, sans-serif;color:#ff7473;background:#fff;padding:5px;margin:0;display:block;-webkit-animation:fadeInFromNone 1s ease-out;-moz-animation:fadeInFromNone 1s ease-out;-o-animation:fadeInFromNone 1s ease-out;animation:fadeInFromNone 1s ease-out;}
@-webkit-keyframes fadeInFromNone{0%{display:none;opacity:0;}
1%{display:block;opacity:0;}
100%{display:block;opacity:1;}
}
@-moz-keyframes fadeInFromNone{0%{display:none;opacity:0;}
1%{display:block;opacity:0;}
100%{display:block;opacity:1;}
}
@-o-keyframes fadeInFromNone{0%{display:none;opacity:0;}
1%{display:block;opacity:0;}
100%{display:block;opacity:1;}
}
@keyframes fadeInFromNone{0%{display:none;opacity:0;}
1%{display:block;opacity:0;}
100%{display:block;opacity:1;}
}
#newsletterform .loading{background:url("../images/loading.gif") no-repeat center 20px;}
@media only screen and (max-width:769px){#newsletterform .wrap{padding:40px 25px;height:380px;}
#newsletterform .arrow{display:none;}
#newsletterform input{width:100%;margin-bottom:7px;}
#newsletterform input[type="submit"]{width:100%;padding:16px;}
}
@media only screen and (max-width:600px){#newsletterform h3{width:100%;}
}
.newsletter{background:#fafd28;color:#5b4e60;padding:20px;}
.newsletter img{width:27%;}
.newsletter h2{margin:.7em;font-style:italic;color:#5b4e60;}
section.buttonset{position:absolute;right:1%;top:1em;z-index:9999;color:#fff;}
section.buttonset img{width:19px;height:auto;}
section.buttonset:hover{cursor:pointer;opacity:0.7;}
.clearfix{clear:both;}
.wrapper img:hover{opacity:0.5;}
.left1{position:relative;float:left;left:0.50%;width:23.00%;border-right:dotted 1px #5b4e60;min-height:70px;}
.left2{position:relative;float:left;left:1.50%;width:41.00%;text-align:center;}
.right{position:relative;float:right;right:0.50%;width:27.00%;padding-left:10px;border-left:dotted 1px #5b4e60;min-height:70px;}
.excerpts-intro{display:none;}
.clearfix{clear:both;}
.form-inline{width:100%;display:block;margin:0 auto;margin-top:5px;margin-bottom:5px;}
.form-inline input{font-size:30px;border:6px solid #fff;max-width:400px;min-width:200px;margin:0 auto;color:#34314c;display:block;}
.btn-submit{background:#fafd28;border:1px solid #fff;padding:14px 20px;width:200px;margin:1% auto 0 auto;display:block;font-family:Helvetica, sans-serif;letter-spacing:2px;font-weight:bold;color:#5b4e60;-webkit-transition:all 0.1s ease-in;-o-transition:all 0.1s ease-in;}
.btn-submit:hover{border:1px solid #fafd28;background:#5b4e60;cursor:pointer;z-index:99;position:relative;color:#fafd28;}
#searchform{margin-top:10px;}
.btn-search{background-color:#34314c;padding:16px 20px;color:#fff;width:30%;border:none;margin-left:0;border:1px solid transparent;-webkit-transition:all 0.1s ease-in;-o-transition:all 0.1s ease-in;cursor:pointer;}
.btn-search:hover{opacity:0.8;}
.hidden-h1{text-indent:100%;white-space:nowrap;overflow:hidden;position:absolute;z-index:-1;color:transparent;font-size:1px;left:-100vh;}
.content-post li{margin-top:10px;}
.content-post img{margin:20px auto;display:block;width:45%;height:auto;}
#wrap{width:100%;height:100%;top:0;left:0;margin-bottom:600px;position:relative;z-index:2;}
.article{background-color:#fff;}
#wrap-article{max-width:960px;margin:0;display:block;overflow:hidden;padding:1em .5em;background:#fff;position:relative;clear:both;z-index:9999;}
@media only screen and (min-width:768px){
	#wrap-article {
		margin:-6em auto 0 auto;
	}
}
#bg2A{width:100%;height:100%;margin:0;}
#wpa2a_1 img{width:171px;}
::selection{background:#34314c;color:#FFFFFF;}
::-moz-selection{background:#34314c;color:#FFFFFF;}
.test{width:200px;}
.green-button{font-family:Arial, Helvetica, sans-serif;font-size:13px;color:#FFF;background-color:#34314c;text-shadow:none;padding:5px 5px;margin:0 auto 0 auto;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;border:1px solid #abbfd7;}
.green-button:hover{opacity:0.7;filter:alpha(opacity=70);text-shadow:none;}
h1{color:#34314c;text-align:center;margin:0px;font-weight:bold;}
.index{font-size:60px;line-height:70px;font-family:Georgia, serif;color:#fff;text-align:left;letter-spacing:-2px;padding:5px;padding-top:45px;font-weight:normal;}
.header{position:relative;font-size:1.5em;z-index:99;line-height:1.1em;font-family:'Montserrat', "Myriad Pro", Helvetica, Georgia, sans-serif;font-weight:700;text-align:right;margin-top:.1em;margin-bottom:.2em;letter-spacing:-2px;word-break:normal;margin-top:12%;}
@media only screen and (min-width:768px){.header{font-size:4em;letter-spacing:1px;}
}
.catekoi{margin-top:1.5em;text-align:right;letter-spacing:1px;font-size:0.7em;font-family:Helvetica, sans-serif;font-weight:bold;color:#34314c;}
.header-search{font-size:30px;line-height:34px;font-family:'Montserrat', "Myriad Pro", Helvetica, Georgia, sans-serif;font-weight:400;color:#34314c;text-align:left;margin-top:50px;margin-bottom:5px;letter-spacing:-2px;}
h2{font-size:24px;line-height:28px;color:#5b4e60;padding:0px;margin:0px;font-weight:normal;}
h3{font-family:'Montserrat', "Myriad Pro", Helvetica, Georgia, sans-serif;font-weight:700;font-size:24px;line-height:30px;color:#5b4e60;letter-spacing:0px;margin-top:20px;margin-bottom:5px}
h4{font-family:'Montserrat', "Myriad Pro", Helvetica, Georgia, sans-serif;font-weight:700;font-size:20px;line-height:26px;color:#5b4e60;letter-spacing:0px;margin-top:25px;margin-bottom:5px}
p{color:#5b4e60;margin:0px;padding:0px;font-family:Georgia,serif;}
strong{font-weight:bold;}
.tags{text-align:right;font-size:.8em;}
.count-results{margin-top:100px;width:100%;text-align:center;font-size:34px;}
.underline{text-style:underline;}
.intro-excerp p{font-family:'Montserrat', "Myriad Pro", Helvetica, Georgia, sans-serif;font-size:1em;margin-bottom:.7em;line-height:1.4em;text-align:right;}
a{color:#5b4e60;text-decoration:none;-webkit-transition:color 0.1s ease-in;-o-transition:color 0.1s ease-in;}
a:hover{text-decoration:none;color:#34314c;cursor:pointer;}
a:active{color:#5b4e60;text-decoration:none;}
a:focus{outline-style:none;}
#header{width:100%;height:60px;background-color:#5b4e60;margin-top:-10px;background-opacity:0.5;position:absolute;}
#header_index{top:0;height:76%;position:relative;overflow:hidden;background:#fff;}
.container_header_index{clear:both;max-width:1600px;margin:0px auto;overflow:hidden;}
.masonry{overflow-y:scroll;height:5000px;}
.logo_header{position: absolute;
    z-index: 9999;}
.logo-top{display:block;width:250px;z-index:9998;position:relative;height:auto;-webkit-transition:opacity;-webkit-transition-timing-function:ease-out;-webkit-transition-duration:500ms;}
.logo-top:hover{opacity:0.5;filter:alpha(opacity=50);}
h1.title-h1{font-family:'Montserrat', "HelveticaNeueMdCn", "HelveticaNeue", Helvetica, sans-serif;text-align:left;margin-left:10.4%;margin-top:.5em;color:#fff;clear:both;font-size:.5em;font-weight:normal;}
.logo{float:left;z-index:9998;width:11%;min-width:200px;}
/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}
/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .cs-loader{
    display: block;
}
.cs-loader{display:none;position:absolute;top:0;left:0;height:150px;width:100%}
.cs-loader-inner{    transform: translateY(-50%);        top: 57%;
    left: 71%; position: absolute; width: calc(100% - 200px); color: #FFF;padding: 0 10px;text-align: center;}
.cs-loader-inner label{font-size:10px;opacity:0;display:inline-block}
 @keyframes lol{0%{opacity:0;transform:translateX(-300px)}33%,66%{opacity:1;transform:translateX(0)}100%{opacity:0;transform:translateX(300px)}}
 @-webkit-keyframes lol{0%{opacity:0;-webkit-transform:translateX(-300px)}33%,66%{opacity:1;-webkit-transform:translateX(0)}100%{opacity:0;-webkit-transform:translateX(300px)}}
 .cs-loader-inner label:nth-child(3){-webkit-animation:lol 3s .3s infinite ease-in-out;animation:lol 3s .3s infinite ease-in-out}
 .cs-loader-inner label:nth-child(2){-webkit-animation:lol 3s .4s infinite ease-in-out;animation:lol 3s .4s infinite ease-in-out}
 .cs-loader-inner label:nth-child(1){-webkit-animation:lol 3s .5s infinite ease-in-out;animation:lol 3s .5s infinite ease-in-out}
.focus{width:100%;height:auto;margin-left:1%;margin-bottom:2%;font-size:1em;}
.focus img{margin-left:42%;width:82%;z-index:99;margin-top:-304px;}
.focus a{color:#5b4e60;font-family:'Montserrat', "Myriad Pro", Helvetica, Georgia, sans-serif;font-weight:700;font-size:2em;line-height:1em;z-index:999;margin:0 auto 0 auto;}
.focus a:hover{color:#34314c;text-decoration:none;}
.excerp{position:relative;z-index999;color:#5b4e60;width:85%;}
.spotlight{font-size:30px;line-height:40px;background:#fff;max-width:170px;text-align:center;color:#34314c;border-right:10px solid #5b4e60;border-bottom:10px solid transparent;z-index:999;}
.excerpts{height:auto;}
.excerpts a{color:#5b4e60;position:relative;text-align:left;}
.ClickMeIndexSpotted, .ClickMeIndexSon{color:#fff;width:100%;margin:0 0 0.3em;padding:1em;font-size:2em;font-family:'Montserrat', "Myriad Pro", Helvetica, Georgia, sans-serif;}
.bande-son{width:85%;margin:0 auto;padding:1em;position:relative;}
#bottom_index{height:auto;position:relative;overflow:hidden;background:white;}
#bottom_index video{position:absolute;width:100%;left:0px;top:0px;right:0px;}
#container-index-bottom{position:relative;}
.citation_container{display:block;clear:both;width:89%;height:auto;padding:5%;}
.citation{padding:.5em;color:#5b4e60;border-left:10px solid #47b8e0;font-style:italic;font-family:Georgia, serif;font-size:2.5em;line-height:1.5em;}
.citation:hover{opacity:0.7;cursor:pointer;}
.citation:before{color:#47b8e0;content:'"';font-size:4em;line-height:0.1em;margin-right:0.25em;vertical-align:-0.4em;}
.citation p{color:#47b8e0;font-style:normal;text-align:right;margin-top:.6em;}
footer{position:relative;width:90%;margin:0 auto;}
.social{position:relative;height:auto;margin-bottom:1.5%;text-align:left;}
.footerico{text-align:center;}
.social li{width:40px;height:15px;margin-right:5px;display:inline-block;vertical-align:middle;}
.social li img{transition:all 0.2s ease;width:38%;}
.social li:hover img{-webkit-transform:scale(1.2);-ms-transform:scale(1.2);transform:scale(1.2);}
ul#share{list-style:none; margin: 1.35em 0 0 5%;display:block;padding:0;overflow:hidden;padding:2em 0;position:relative;width:150px;}
.gplus, .twitter, .facebook, .whatsapp{float:left;display:inline-block;margin-left:2%;}
#share h4 {font-size:0.6em; color:#ddd;}
.whatsapp-btn{background:#4dc247;width:64px;}
.whatsapp-btn a{color:#fff;padding:.4em;font-size:0.5em;overflow:hidden;display:block;}
@media only screen and (min-width:960px){footer{width:75%;}
ul#share{
	position: fixed;
}
.gplus, .twitter, .facebook, .whatsapp{float:none;width:25%;display:block;margin-top:4%;}
}
#footer{position:fixed;bottom:0;left:0;right:0;height:670px;z-index:1;font-size:14px;clear:both;text-align:center;overflow:hidden;background:#fff;}
.bg_newsletter_footer{background:#ff7473;}
#footer a{display:inline;margin:1.5%;letter-spacing:2px;font-size:1em;font-family:'Montserrat', "Myriad Pro", Helvetica, Georgia, sans-serif;}
#footer:before{content:'';height:100%;float:left;}
#footer a:hover{text-decoration:underline;}
#footer-area{width:100%;display:inline;float:left;padding-top:10px;margin-top:20px;clear:both;background:url(images/bg-row.png) top left repeat-x;}
.type-post{width:100%;display:inline;float:left;position:relative;margin-top:0;}
.app-footer{overflow:hidden;margin-top:1em;position:relative;}
.content-post{width:70%;left:0;right:0;margin-left:auto;margin-right:auto;line-height:30px;}
.gridly-image{padding-right:1em;padding-bottom:1em;width:100%;min-width:68px;z-index:2;height:166px;overflow:hidden;}
.gridly-image img{margin:0 auto;}
.pop{min-height:190px;width:100%;}
.pop img {width: 100%;}
.gridly-category{position:relative;z-index:10;height:auto;overflow:hidden;font-family:'Montserrat', "Myriad Pro", Helvetica, Georgia, sans-serif;}
.shareout{width:25px;}
.gridly-category h2{color:#5b4e60;font-size:1em;line-height:1.3em;text-shadow:none;font-family:'Montserrat', "Myriad Pro", Helvetica, Georgia, sans-serif;margin:0 auto 0 auto;letter-spacing:-1px;}
.gridly-copy{width:710px;margin-left:auto;margin-right:auto;padding-top:20px;padding-bottom:20px;overflow:hidden;font-size:16px;line-height:25px;}
.gridly-date{float:right;color:#5b4e60;font-size:11px;font-style:italic;position:relative;}
.size-full{width:64%;height:auto;margin:0 auto;display:block;}
.thumbnail_bg{width:100%;top:0;left:0;right:0;height: 35vh;overflow:hidden;display:block;position:relative;}
.thumbnail_bg img{width:100%;position:absolute;z-index:98;top:-10px;}
@media only screen and (min-width:768px){.thumbnail_bg{height:400px;}
}
.entry-meta{font-size:0.7em;max-width:240px;min-width:120px;width:100%;margin:34px 24px 34px 0;padding:0;}
.entry-meta img{max-width:200px;}
.entry-meta span{display:block;padding:8px 0;}
.entry-content{width:100%;margin:-4em auto 3em auto;display:block;max-width:696px;z-index:9999;position:relative;}
.entry-content p{line-height:1.5em;}
.a2a_kit{margin:1.5em 0;}
@media only screen and (max-width:560px){.entry-meta{width:70%;float:none;display:block;margin:0 auto;}
.entry-content{width:95%;float:none;display:block;margin:0 auto;}
}
.clear{clear:both;}
.padding15{padding-top:15px;font-size:0;line-height:0;}
.padding20{padding-top:20px;font-size:0;line-height:0;}
blockquote{font-size:1.2em;line-height:40px;color:#717171;margin-left:20px;border-left:6px solid #34314c;padding-left:25px;margin-top:15px;margin-bottom:15px;}
blockquote p:before{content:'«';font-size:55px;margin-right:5px;}
blockquote p:after{content:'»';font-size:55px;margin-left:5px;}
.small{font-size:0.8em;line-height:1.5em;text-decoration:none;padding-top:0.5em;}
#container-articles{clear:both;margin:0px auto;overflow:hidden;background-color:#fff;}
.big_headlines{height:auto;padding:0% 0% 1% 2%;background:#fff;max-width:1030px;}
.big_headlines a:hover{opacity:0.7;cursor:pointer;}
.big_headlines_title{font-size:2.5em;line-height:1.1em;margin-top:1.5%;}
.big_headlines_excerp{max-width:600px;padding:3% 0;line-height:1.3em;}
.grey{background:#ffc952;background:-moz-linear-gradient(45deg, #ffc952 0%, #47b8e0 100%);background:-webkit-gradient(linear, left bottom, right top, color-stop(0%,#ffc952), color-stop(100%,#47b8e0));background:-webkit-linear-gradient(45deg, #ffc952 0%,#47b8e0 100%);background:-o-linear-gradient(45deg, #ffc952 0%,#47b8e0 100%);background:-ms-linear-gradient(45deg, #ffc952 0%,#47b8e0 100%);background:linear-gradient(45deg, #ffc952 0%,#47b8e0 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc952', endColorstr='#47b8e0',GradientType=1);overflow:hidden;padding:2em 0;}
#container a{text-decoration:none;}
.clearfix:after{content:"";display:table;clear:both;}
.item{width:28%;float:left;font-size:1rem;margin-right:2em;margin-bottom:1.7em;min-height:370px;background:#fff;text-shadow:none;cursor:pointer;display:block;opacity:1;text-decoration:none;color:#5b4e60;text-rendering:optimizeLegibility;z-index:99;position:relative;}
.item:hover{cursor:pointer;text-decoration:none;opacity:.8;}
.item:hover .gridly-category h2{color:#ffb952;text-decoration:none;}
.item:visited{background-color:yellow;}
.link-article{width:95%;}
#container-index{width:100%;height:95%;margin-left:2%;z-index:9;font-size:1rem;}
.double_container{overflow:hidden;position:relative;background:#47b8e0;height:100%;}
.double_left{width:100%;height:50%;float:left;bottom:0;position:relative;}
.double_left img{margin-top:50px;}
.double_right{width:100%;float:left;height:50%;bottom:0;position:relative;min-height:630px;}
@media only screen and (min-width:768px){.double_container{height:50vh;}
.double_left{width:40%;height:100%;}
.double_right{width:60%;height:100%;min-height:auto;}
}
.symbol{margin:15% auto 0 auto;width:78%;display:block;}
.item-index{position:relative;width:100%;font-size:1rem;margin-left:0;min-width:220px;height:16em;float:left;text-shadow:none;cursor:pointer;display:block;overflow:hidden;background:#0a0947;text-decoration:none;text-rendering:optimizeLegibility;}
.item-index:hover .gridly-image-index img{opacity:0.4;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
@media only screen and (min-width:1200px){.item-index{width:50%;}
}
a.item-index:first-child{float:left;margin-left:0;height:auto;min-height:544px;}
a.item-index:first-child > .gridly-figcaption{padding:20% 3%;}
a.item-index:first-child > .gridly-image-index img{}
.gridly-date-index{color:#fff;font-size:11px;font-style:italic;margin-top:.6em;position:relative;}
.gridly-link-index{float:right;font-size:14px;margin-bottom:5px;color:#34314c;}
.gridly-link-index:hover{color:#FFF;}
.gridly-image-index{width:100%;height:544px;position:absolute;overflow:hidden;background:#0d1c23;}
.gridly-image-index img{height:auto;min-height:544px;max-width:none;width:-webkit-calc(100% + 20px);width:calc(100% + 20px);-webkit-transition:opacity 0.35s, -webkit-transform 0.35s;transition:opacity 0.35s, transform 0.35s;-webkit-transform:translate3d(-10px,0,0);transform:translate3d(-10px,0,0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-filter:grayscale(0.2);filter:grayscale(0.2);}
.gridly-imagepost img:hover{opacity:none;}
.gridly-category{z-index:10;height:auto;overflow:hidden;width:90%;padding:0.6em;}
p.category{background-color:#ff7473;color:#fff;text-transform:uppercase;font-weight:bold;padding:0.3em 0.4em 0.2em 0.4em;font-family:helvetica, arial, sans-serif;display:inline-block;font-size:.5em;line-height:1.2em;margin-top:.6em;margin-right:15px;position:relative;letter-spacing:2.5px;}
p.category.index-cat{background-color:#fff;}
p.category.index-cat:hover{background-color:#ffc952;}
p.category.pub_index{background-color:#a2c09a;}
.gridly-link{float:right;font-size:14px;margin-bottom:5px;color:#fff}
.gridly-link:hover{color:#34314c;}
.newsletter_footer{position:relative;background:#ff7473;padding:2% 1%;overflow:hidden;margin-bottom:2%;}
#search-index input{outline:none;}
#search-index input[type=search]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;font-family:inherit;font-size:100%;}
#search-index input::-webkit-search-decoration,
#search-index input::-webkit-search-cancel-button{display:none;}
#search-index input[type=search]{font-family:'Montserrat', "Myriad Pro", Helvetica, Georgia, sans-serif;font-weight:400;background:#fff url(./images/search.svg) no-repeat 10px center;width:55px;height: 19px;border:none;color:transparent;-webkit-transition:all .5s;-moz-transition:all .5s;transition:all .5s;}
#search-index input[type=search]:focus{width:250px;padding-left:55px;color:#5b4e60;background-color:#fff;cursor:auto;border-bottom:5px solid #F8CA4D;z-index:9999;position:absolute;right:0;}
h2.pagetitle{line-height:1.5em;font-size:3em;text-align:center;margin-bottom:1em;}
@media only screen and (min-width:768px){#search-index input[type=search]:focus{position:relative;right:0;}
}
@media only screen and (max-width:50em){html{font-size:13px;}
a.trigger{left:0px;}
#header_index{width:100%;height:auto;}
#container-index{position:relative;margin-left:0;}
.symbol{margin-top:5%;}
.item{width:90%;float:none;font-size:1.6rem;margin:0 auto;margin-bottom:2em;height:auto;position:relative;}
.gridly-date-index{}
#container{overflow-y:visible;}
.balisedrap{width:26%;}
.gridly-title-index a{font-size:18px;}
}
@media only screen and (max-width:30em){.social{display:none;}
article{font-size:1.2rem;}
aside{padding:3%;}
#search{min-height:101px;}
#search button{width:100%;}
.wrapper{display:none;}
.content-post{width:95%;line-height:23px;}
.text-center{font-size:1.3em;margin:4% auto;}
.larger{font-size:.7em;}
.gridly-title-index{margin-left:0;}
}
.text-left{text-align:left;}
.text-right{text-align:right;}
.text-center{text-align:center;}
.cd-gallery-container{margin:0.2em auto 0 auto;padding:0;background:#fff;width:100%;}
.margin-top{margin-top:0.1em;}
.background-color{z-index: 9998;
    position: relative;
    overflow: hidden;background:#47b8e0;background:-moz-linear-gradient(45deg, #47b8e0 0%, #0d1c23 100%);background:-webkit-gradient(linear, left bottom, right top, color-stop(0%,#47b8e0), color-stop(100%,#0d1c23));background:-webkit-linear-gradient(45deg, #47b8e0 0%,#0d1c23 100%);background:-o-linear-gradient(45deg, #47b8e0 0%,#0d1c23 100%);background:-ms-linear-gradient(45deg, #47b8e0 0%,#0d1c23 100%);background:linear-gradient(45deg, #47b8e0 0%,#0d1c23 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#47b8e0', endColorstr='#0d1c23',GradientType=1);overflow:hidden;}
.background-color h3{color:#fff;}
.cd-filter ul:after{content:"";width:0;height:0;position:absolute;right:16px;top:50%;margin-top:-6px;border-width:6px 0 6px 6px;border-style:solid;border-color:transparent #5b4e60;}
.is-open ul:after{border-color:#5b4e60 transparent;border-width:6px 6px 0 6px;top:14%;margin-top:-6px;}
.cd-item-wrapper{padding:0;}
@media only screen and (min-width:768px){.cd-gallery-container{margin:0.2em auto 0 auto;padding:1em;}
}
.articles-navbar{position:relative;clear:both;display:block;width:100%;}
.cd-filter{float:left;height:60px;width:100%;margin:0 auto;cursor:pointer;z-index:10;padding-top:0em;border:solid 1px #e5e5e1;background:#ededed;}
.cd-filter ul{color:#34314c;position:relative;z-index:10;background:#ededed;width:70%;margin:0;float:left;}
.cd-filter li{display:none;}
.cd-filter li:first-child{display:block;}
.cd-filter a{display:block;height:60px;line-height:65px;font-size:16px;font-family:'Montserrat', "Myriad Pro", Helvetica, Georgia, sans-serif;font-weight:700;margin:0 auto 0 auto;text-decoration:none;text-transform:uppercase;}
.cd-filter a.selected{border-bottom:5px solid #47b8e0;}
.no-touch .cd-filter a.selected:hover{border-bottom:5px solid #ffc952;}
.cd-filter.is-open ul li{display:block;}
.cd-filter.is-open .placeholder a{opacity:.4;}
@media only screen and (min-width:768px){.cd-filter{height:auto;border:none;background:none;}
.cd-filter ul{position:static;box-shadow:none;text-align:left;background:none;padding:0;}
.cd-filter ul:after{border-color:transparent;}
.cd-filter li{display:inline-block;margin:0 .4em;}
.cd-filter li:first-child{display:inline-block;}
.cd-filter li.placeholder{display:none !important;}
.cd-filter li.placeholder a{display:none;}
.cd-filter a{display:inline-block;padding:.4em 0;height:auto;width:auto;line-height:1;}
.no-touch .cd-filter a:hover{border-bottom:5px solid #34314c;}
.cd-filter a.selected:hover{box-shadow:none;}
.cd-filter.is-open ul li{display:inline-block;}
}
.cd-gallery{margin-top:2em;position:relative;z-index:5;padding:5px;}
.cd-gallery ul{padding:0.2em;}
.cd-gallery li{position:relative;-webkit-transition:all 2s;transition:all 2s;}
.cd-gallery .cd-item-wrapper a{position:relative;}
.cd-gallery .cd-item-wrapper a{opacity:0;}
.cd-gallery .cd-item-wrapper li a{-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);-webkit-transform:translateY(100vh);-moz-transform:translateY(100vh);-ms-transform:translateY(100vh);-o-transform:translateY(100vh);transform:translateY(100vh);}
.cd-gallery .cd-item-wrapper li.is-visible a{-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0);}
.cd-gallery .cd-item-wrapper .is-visible a{opacity:1;-webkit-animation:cd-move-in 0.3s;-moz-animation:cd-move-in 0.3s;animation:cd-move-in 0.3s;}
.cd-gallery .cd-item-wrapper.is-switched{-webkit-animation:cd-move-out 0.3s;-moz-animation:cd-move-out 0.3s;animation:cd-move-out 0.3s;opacity:0;}
.cd-gallery .cd-item-wrapper.is-hidden a{opacity:0;}
.cd-gallery .cd-item-wrapper .is-switched a{-webkit-animation:cd-move-in 0.35s;-moz-animation:cd-move-in 0.35s;animation:cd-move-in 0.35s;}
.cd-gallery .cd-item-wrapper .is-hidden a{-webkit-animation:cd-move-out 0.35s;-moz-animation:cd-move-out 0.35s;animation:cd-move-out 0.35s;}
.cd-gallery .cd-item-wrapper .is-switched a{-webkit-animation-fill-mode:forwards;-moz-animation-fill-mode:forwards;animation-fill-mode:forwards;}
.cd-gallery .cd-item-wrapper li.is-visible a:nth-of-type(2){-webkit-animation-delay:0.1s;-moz-animation-delay:0.1s;animation-delay:0.1s;}
.cd-item-wrapper li.is-visible a:nth-of-type(3){-webkit-animation-delay:0.15s;-moz-animation-delay:0.15s;animation-delay:0.15s;}
.cd-item-wrapper .li.is-visible a:nth-of-type(4){-webkit-animation-delay:0.25s;-moz-animation-delay:0.25s;animation-delay:0.25s;}
.cd-item-wrapper li.is-visible a:nth-of-type(5){-webkit-animation-delay:0.25s;-moz-animation-delay:0.25s;animation-delay:0.25s;}
.cd-item-wrapper li.is-visible a:nth-of-type(6){-webkit-animation-delay:0.3s;-moz-animation-delay:0.3s;animation-delay:0.3s;}
.cd-item-wrapper li.is-visible a:nth-of-type(7){-webkit-animation-delay:0.35s;-moz-animation-delay:0.35s;animation-delay:0.35s;}
.cd-item-wrapper li.is-selected a:nth-of-type(8){-webkit-animation-delay:0.4s;-moz-animation-delay:0.4s;animation-delay:0.4s;}
.cd-item-wrapper li.is-visible a:nth-of-type(9){-webkit-animation-delay:0.5s;-moz-animation-delay:0.5s;animation-delay:0.5s;}
.cd-item-wrapper li.is-visible a:nth-of-type(10){-webkit-animation-delay:0.55s;-moz-animation-delay:0.55s;animation-delay:0.55s;}
.cd-item-wrapper li.is-visible a:nth-of-type(11){-webkit-animation-delay:0.6s;-moz-animation-delay:0.6s;animation-delay:0.6s;}
.cd-item-wrapper li.is-visible a:nth-of-type(12){-webkit-animation-delay:0.65s;-moz-animation-delay:0.65s;animation-delay:0.65s;}
.cd-item-wrapper li.is-visible a:nth-of-type(13){-webkit-animation-delay:0.75s;-moz-animation-delay:0.75s;animation-delay:0.75s;}
.cd-item-wrapper li.is-visible a:nth-of-type(14){-webkit-animation-delay:0.85s;-moz-animation-delay:0.85s;animation-delay:0.85s;}
.cd-gallery .cd-item-wrapper > li{-webkit-backface-visibility:hidden;backface-visibility:hidden;border-radius:0.25em;}
.cd-gallery .cd-item-wrapper > li img{display:block;width:100%;min-height:200px;}
.cd-gallery li.is-visible{position:relative;top:0;left:0;height:100%;width:100%;z-index:5;opacity:1;overflow:hidden;}
.cd-gallery li.is-hidden{position:absolute;left:0;height:100%;width:100%;z-index:-1;opacity:0;}
@media only screen and (max-width:767px){.cd-gallery > li{}
.citation{display:none;}
}
@media only screen and (min-width:1200px){.cd-gallery{margin-top:2em;}
}
@-webkit-keyframes cd-move-in{0%{opacity:0;-webkit-transform:translateY(100vh);}
65%{opacity:1;-webkit-transform:translateY(-1.5vh);}
100%{-webkit-transform:translateY(0vh);}
}
@-moz-keyframes cd-move-in{0%{opacity:0;-moz-transform:translateY(100vh);}
65%{opacity:1;-moz-transform:translateY(-1.5vh);}
100%{-moz-transform:translateY(0vh);}
}
@keyframes cd-move-in{0%{opacity:0;-webkit-transform:translateY(100vh);-moz-transform:translateY(100vh);-ms-transform:translateY(100vh);-o-transform:translateY(100vh);transform:translateY(100vh);}
65%{opacity:1;-webkit-transform:translateY(-1.5vh);-moz-transform:translateY(-1.5vh);-ms-transform:translateY(-1.5vh);-o-transform:translateY(-1.5vh);transform:translateY(-1.5vh);}
100%{-webkit-transform:translateY(0vh);-moz-transform:translateY(0vh);-ms-transform:translateY(0vh);-o-transform:translateY(0vh);transform:translateY(0vh);}
}
@-webkit-keyframes cd-move-out{0%{-webkit-transform:translateY(0vh);}
100%{-webkit-transform:translateY(100vh);}
}
@-moz-keyframes cd-move-out{0%{-moz-transform:translateY(0vh);}
100%{-moz-transform:translateY(100vh);}
}
@keyframes cd-move-out{0%{-webkit-transform:translateY(0vh);-moz-transform:translateY(0vh);-ms-transform:translateY(0vh);-o-transform:translateY(0vh);transform:translateY(0vh);}
100%{-webkit-transform:translateY(100vh);-moz-transform:translateY(100vh);-ms-transform:translateY(100vh);-o-transform:translateY(100vh);transform:translateY(100vh);}
}

#donate{
overflow: hidden;
}
#donate p{
line-height: 1em;
}
#donate .item{
    float: none;
    width: 100%;
    min-height: 70px;
    margin-bottom: 2em;
}

#donate .item_price, .simpleCart_quantity {

	display: none;
}

@media only screen and (min-width: 960px) {
    #donate.block-cart{
        margin:1%;
    }
    #donate .item{
    	width: 30%;
    	float: left;
    }
}
#donate .checkout-truc {
float:left;
left:30%;
}
#donate .simpleCart_checkout {
display:block;
width: 100%;
background-color:#e3d2b3;
color: #fff;
text-align: center;
border: 1px solid #e3d2b3;
clear:both;
cursor: pointer;
    padding: 2% 0;
    margin-top: 6%;
}

#donate .simpleCart_checkout:hover {
opacity: 0.7;
cursor: pointer;
}
#donate .simpleCart_empty { 
color:#ddd;
text-decoration: underline;
}
#donate .item_add {
z-index:99;
color:#000;
padding:3px 15px;
border: 1px solid #000;
margin-left:1%;
}

#donate .item_add:hover {
color:#fff;
padding:3px 15px;
background-color:#000;
border: 1px solid #000;
margin-left:1%;}




